<%= form_for @user do |f| %>
 <p>
 Name:	<%= f.text_field :name %>
 </p>

 <p>
 Address:	<%= f.text_field :address %>
 </p>

 <p>
 Age:	<%= f.text_field :age %>
 </p>

 <p>
 Image Upload:	<%= f.file_field :avatar %>
 </p>

 <p>
 	<%= f.submit %>
 </p>

<% end %>