<h2>Sign up</h2>

<%= form_for(@user, :url => "/admin/users", :method => "POST") do |f| %>
  <div>
    <%= f.label :name %>
    <br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div>
    <%= f.label :email %>
    <br />
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :phone %>
    <br />
    <%= f.text_field :phone %>
  </div>

  <div>
    <%= f.label :address %>
    <br />
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :password %>
    <br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <%= f.label :logo %>
        <br />
        <%= f.file_field :logo, :onChange => 'readURL(this)' %>
      </div>

      <div class="col-sm-6">
        <div class="profile_image"> <%= image_tag(@user.logo.url(:original),:style=>"width:150px;height:50px;",:id=>"user_image") %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {//Check if input has files.
      var reader = new FileReader();//Initialize FileReader.

      reader.onload = function(e) {
        $('#user_image').attr('src', e.target.result);
        $('#user_image').show();
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
