<h4>index page</h4>
<div class="row">

</div>
<%= @user.name %>
<%= @user.address %>
<%= @user.age %>

  
  <div class="profile_image"> <%= image_tag(@user.avatar.url(:original),:style=>"width:92px;height:87px;",:id=>"user_image") %>
  </div>



<%= form_for @user, :as => :user, :url => user_update_photo_path(@user, :id => @user.id), :method => "POST", :html => { :multipart => true, :class=>"jqtransform" } do |form| %>
      <%= form.file_field :avatar, :onChange => 'readURL(this)' %>
      <div id="update_image_holder">
        <button type="submit" style="background: none; border: none;">
          <span class="button_left"></span>
          <span class="button_mid">Update</span>
          <span class="button_right"></span>
        </button>
      </div>
    <%end%>

    <script type="text/javascript">
      function readURL(input) {
    if (input.files && input.files[0]) {//Check if input has files.
        var reader = new FileReader();//Initialize FileReader.

        reader.onload = function(e) {
            $('#user_image').attr('src', e.target.result);
            $('#user_image').show();
        };
        reader.readAsDataURL(input.files[0]);
    }
}
    </script>